<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Token Retrieval Successful!</title>
</head>
<body>
    <h3>Token retrieval completed successfully!</h3>

    <table border="0" cellspacing="2" cellpadding="2">
        <tr>
            <td align="right"><b>Access Token:</b></td>
            <td>&nbsp;</td>
            <td>REDDIT_OAUTH_ACCESS_TOKEN</td>
        </tr>
        <tr>
            <td align="right"><b>Refresh Token:</b></td>
            <td>&nbsp;</td>
            <td>REDDIT_OAUTH_REFRESH_TOKEN</td>
        </tr>
    </table>

    <br />
    <br />

    Token Saved to:  <a href="LOCAL_TOKEN_PATH">LOCAL_TOKEN_PATH</a>

    <br />
    <br />

    <b>You may now close this window whenever you're ready.</b>
</body>
</html>
